/* Top bar */
#panel {
    background-color: transparent;
    margin-right: 6px;
}

/* Remove rounded corners */
#panel .panel-corner { -panel-corner-radius: 0 }

/* Decrease buttons padding */
#panel .panel-button {
    -natural-hpadding: 5px;
    -minimum-hpadding: 5px;
}

/* Show Arch Linux logo instead of "Activities" text */
#panelActivities > * {
    margin-left: 12px;
    width: 15px;
    color: transparent;
    background-image: url("arch-linux.svg");
}
#panelActivities:active > *,
#panelActivities:focus > *,
#panelActivities:hover > *,
#panelActivities:overview > *,
#panel:overview #panelActivities.panel-button:active > *,
#panel:overview #panelActivities.panel-button:focus > * {
    background-image: url("arch-linux-active.svg");
}

/* Remove buttons highlighting */
#panel .panel-button:active,
#panel .panel-button:checked,
#panel .panel-button:focus,
#panel .panel-button:overview {
    background-color: transparent;
    box-shadow: none;
}

/* Increase system icons spacing */
#panel .panel-button .system-status-icon {
    padding: 0 6px;
}

/* Current application icon */
#panel .panel-button .app-menu-icon {
    margin: 0 6px;
}
