/* Top bar */
#panel {
    background-color: transparent;
}

/* Remove rounded corners */
#panel .panel-corner { -panel-corner-radius: 0 }

/* Show Arch Linux logo instead of "Activities" text */
#panelActivities > * {
    width: 15px;
    color: transparent;
    background-image: url("arch-linux.svg");
}
#panelActivities:active > *,
#panelActivities:focus > *,
#panelActivities:hover > *,
#panelActivities:overview > *,
#panel:overview #panelActivities.panel-button:active > *,
#panel:overview #panelActivities.panel-button:focus > * {
    background-image: url("arch-linux-active.svg");
}

/* Remove buttons highlighting */
#panel .panel-button:active,
#panel .panel-button:checked,
#panel .panel-button:focus,
#panel .panel-button:overview {
    background-color: transparent;
    box-shadow: none;
}
